# Ignore virtual environemnts, large files etc.
env/
ignore/
dreeam_models/
/scraping/articles/old
/knowledge_extraction/relation_extraction/docred_metadata

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints

# Ignore Python cache files
__pycache__/
*.py[cod]
